@use  '../Components/variables';

nav.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: variables.$base-padding;
   font-family: map-get(variables.$fonts, 'condensed');
   color: map-get(variables.$color, 'white');
   @media  (min-width: 768px){
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
    padding: variables.$padding-lg;
    align-items: center;
    vertical-align: middle;
  }

   .rule{
    display: none;
      @media (min-width: 768px){
      display: block;
      position: absolute;
      top: 41.5px;
      border: 0.1px solid #979797;
      left: 5rem;
      min-width: 35%;
       
      }
   }

   div.nav-closed{
   
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    text-align: left;
    z-index: 3;
    background-color: map-get(variables.$color, 'spaceblue');
    padding: variables.$base-padding;
    img.close-btn{
      margin-left: auto;
      padding: variables.$base-padding;
      
    }
    ol{
      list-style-type: decimal-leading-zero;
      list-style-position: inside;
      padding: variables.$base-padding 0;
      color:map-get(variables.$color, 'white');
      z-index: 3;
        position: relative;
      
      li{
        padding: variables.$base-padding*2 variables.$base-padding;
        z-index: 3;
        position: relative;
        
        a{display: inline-block;
          text-decoration: none;
          padding: variables.$base-padding 0;
          color:map-get(variables.$color, 'white');
          z-index: 3;
          position: relative;
          
        }
    }
    }
   }

   div.nav-expanded{
    border: 1px solid #979797;
    background-color: map-get(variables.$color, 'nav-color');
    padding: variables.$base-padding;
    @media (max-width:768px){
      display: none;
    }

    ol{
      list-style-type: decimal-leading-zero;
      list-style-position: inside;
      color:map-get(variables.$color, 'white');
      li{
        
        a{
          text-decoration: none;
          color:map-get(variables.$color, 'white');
        }
      }
      @media (min-width: 768px){
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

   }

   img.menu-icon{
    
    @media (min-width: 768px){
      display: none;
    }
   }
  }
