@use  '../Components/variables';

main{
    padding: variables.$base-padding;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    

    color: map-get(variables.$color, 'white');
    h5{
        font-size: clamp(1rem, 1.25rem, 1.75rem);
        margin: 0;
    }
}