@use  '../Components/variables';

main{
    display: grid;
    grid-template-columns: 1fr;
    padding: variables.$base-padding*1.5 variables.$base-padding;
    text-align: center;
    height: 100vh;
    place-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    color: map-get(variables.$color, 'white');
    div{
        h5{
            font-size: clamp(1rem, 1.25rem, 1.75rem);
            margin: 0;
            padding: variables.$base-padding;
        }
        h1{
            font-size: clamp(map-get(variables.$heading,'h3'), 5rem,map-get(variables.$heading,'h1'));
            margin: 0;
            padding: variables.$base-padding;
        }
    
        p{
            padding: variables.$base-padding;
            margin: 0;
        }
    }
    
}